button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 150%;
}

.btn_new_member {
    margin-left: 59%;
    background-color: aqua;
}

.btn_list_members {

    background-color: green;
}